html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

.icon {
    width: 80px;
    height: auto;
}

#socials-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#socials {
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(0, 0, 0);
    background: black url(photos/please-snow.gif) repeat;
    background-size: 100%;
    background-position: 50%;
}

#hr {
    margin: 0;
    padding: 0;
    height: 25px;
    background-color: rgb(26, 24, 24);
    border-style: none;
}

.info-hr {
    height: 5px;
    background-color: rgb(66, 64, 64);
    border-style: none;
}

.heading {
    font-family: monospace;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    margin-left: 1%;
    color: whitesmoke;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    white-space: nowrap;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 13.25ch;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes showScroll {
    to {
        opacity: 1;
        visibility: visible;
    }
}

#name-text {
    font-family: monospace;
    font-size: 3rem;
    width: 0;
    display: inline-block;
    overflow: hidden;
    color: whitesmoke;
    white-space: nowrap;

    /* animation: typing 2s steps(14, end) forwards; */

    animation:
        typing 2s steps(14, end) forwards;
    animation-delay: 1.5s;
}

.cursor {
    display: inline-block;
    font-size: 3rem;
    width: 1ch;
    animation: blink 1s step-end infinite;
    background: none;
    color: whitesmoke;
    vertical-align: 75%;
}

#bin-text {
    font-family: monospace;
    font-size: 3rem;
    width: 0;
    display: inline-block;
    overflow: hidden;
    color: whitesmoke;
    white-space: nowrap;
}

#name-container {
    display: flex;
    padding: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    display: inline-block;
    font-family: monospace;
    justify-content: center;
}

#scroll-down {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    color: whitesmoke;
    transition: opacity 2s ease-in, visibility 0s;
    animation: showScroll 2s ease-in forwards;
    animation-delay: 5s;
}

#description {
    padding-top: 6.5%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    color: whitesmoke;
    transition: opacity 2s ease-in, visibility 0s;
    animation: showScroll 2s ease-in forwards;
    animation-delay: 3s;
}

@media only screen and (max-width: 600px) {
    
    #name-container {
        display: flex;
        padding: 0;
        position: absolute;
        top: 30vh;
        left: 50vw;
        transform: translateX(-50vw);
        overflow: hidden;
        white-space: nowrap;
        width: fit-content;
        display: inline-block;
        font-family: monospace;
        justify-content: center;
    }
    
    #scroll-down {
        padding-top: 4vw;
        display: flex;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        color: whitesmoke;
        transition: opacity 2s ease-in, visibility 0s;
        animation: showScroll 2s ease-in forwards;
        animation-delay: 5s;
    }

    #description {
        padding-top: 16vh;
        font-size: 1vw;
        display: flex;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        color: whitesmoke;
        transition: opacity 2s ease-in, visibility 0s;
        animation: showScroll 2s ease-in forwards;
        animation-delay: 3s;
    }
    
    .raspico-8-text {
        font-family: monospace;
        font-size: .5vw !important;
        color: whitesmoke;
    }

    .italian-swordsman-text {
        font-family: monospace;
        font-size: .5vw !important;
        color: whitesmoke;
    }

    .flo-banking-text {
        font-family: monospace;
        font-size: .45vw !important;
        color: whitesmoke;
        list-style: none;
    }

    .flo-banking-text-list {
        font-family: monospace;
        font-size: .4vw !important;
        color: whitesmoke;
        list-style: none;
        text-indent: 4vw
    }

    .info-heading{
        color: whitesmoke;
        font-size: .75vw !important;
        font-family: monospace;
        margin-left: 2%;
    }

    .projects-list {
        list-style: none;
        color: whitesmoke;
        padding-left: 0 !important;
    }

    .project-photo{
        border-style: solid;
        border-color: lightgray;
        border-width: 10px;
        border-radius: 125px;
        max-width: 25vw !important;
    }
}

.info-heading {
    color: whitesmoke;
    font-size: 1.25rem;
    font-family: monospace;
    margin-left: 2%;
}

#RASPICO-8-heading {
    display: flex;
    justify-content: left;
    padding-left: 2%;
}

.image-with-text img {
    float: left;
    margin-right: 20px;
    max-width: 50%;
    height: auto;
}

.image-with-text::after {
    content: "";
    display: table;
    clear: both;
}

.raspico-8-text {
    font-family: monospace;
    font-size: .85rem;
    /* padding-top: 15%;
    padding-right: 10%; */
    color: whitesmoke;
}

.project-photo {
    border-style: solid;
    border-color: lightgray;
    border-width: 10px;
    border-radius: 125px;
}

#raspico-8 {
    margin-left: 3%;
}

#italian-swordsman-heading {
    display: flex;
    justify-content: left;
    padding-left: 2%;
}

#italian-swordsman {
    margin-left: 2%;
}

.italian-swordsman-text {
    font-family: monospace;
    font-size: .85rem;
    /* padding-top: 15%;
    padding-right: 10%; */
    color: whitesmoke;
}

#flo-banking {
    margin-left: 5%;
}

.flo-banking-text {
    font-family: monospace;
    font-size: .85rem;
    /* padding-top: 2%; */
    /* padding-right: 10%; */
    color: whitesmoke;
    list-style: none;
}

.flo-banking-text-list {
    font-family: monospace;
    font-size: .85rem;
    color: whitesmoke;
    list-style: none;
    text-indent: 4%
}

.top-text {
    padding-top: 5%;
    padding-right: 10%
}

#footer{
    padding-top: 15%;
}

.list {
    list-style: none;
    color: whitesmoke;
}

.info-div {
    margin-right: 1%;
    margin-bottom: 5%;
}

.a {
    color: lightgray;
    transition: color 2s, ease, transform 0.3s ease;
    display: inline-block;
}

.a:hover, .a:visited:hover {
    color: #a020f0;
    transform: translateY(-4px) scale(1.05)
}

.skill-heading {
    color: whitesmoke;
    font-size: 3rem;
    font-family: monospace;
    margin-left: 2%;
}

.projects-list {
    list-style: none;
    color: whitesmoke;
}

#flo-list {
    color: whitesmoke;
}

#unfinished {
    padding-top: 5%
}

#top-text-swordsman {
    padding-top: 10%
}

#top-text-raspico {
    padding-top: 10%
}